body {
    font-family: Arial, sans-serif;
    background: #020024;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(135, 135, 135, 1) 100%, rgba(255, 255, 255, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: 2px auto;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(221, 221, 221);
}

#macro-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-macros-message {
    margin: 20px 20px;
}

.macro-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:80%;
    padding: 10px;
}
.macro-card.htmx-swapping {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.code-block {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(119, 119, 119);
    border-radius: 4px;
    font-family: monospace;
    padding: 10px;
    width: 60%;
    word-break: break-word;
}

.delete-button {
    background-color: rgb(233, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.delete-button:hover {
    background-color: rgb(197, 0, 0);
}


